.App {
  padding: 30px;
  display: flex;
  background-color: beige;
  height: 100vh;
}

.App > div {
  margin-right: 50px;
}
.todolist {
  background-color: darkseagreen;
  border: 2px solid limegreen;
  border-radius: 5px;
  padding: 15px;
  height: max-content;
}


.task {
  font-weight: bold;
}
.task-done {
  opacity: 0.5;
  text-decoration: line-through;
}
.btn-filter {
  background-color: teal;
  border-radius: 3px;
  border-color: teal;
}
.btn-filter-active {
  background-color: coral;
  color: white;
  border-radius: 3px;
  border-color: coral;
}
.empty-value-error {
  border: 2px solid red;
  outline: none;
}

